exportPattern("^[[:alpha:]]+")
import(utils,methods,stats,parallel,Hmisc,RCurl,XML,stringr,matrixStats,Biostrings,GenomicAlignments,GenomicFeatures,GenomicRanges,Rsamtools,ShortRead,Gviz,gplots,ReporteRs)