<!DOCTYPE html>
  <html lang="en">
    <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
          <meta name="description" content="">
            <meta name="author" content="FGCZ">
              <link rel="shortcut icon" href="https://igv.org/web/img/favicon.ico">
                
                <title>igv.js</title>
                
                <!-- IGV JS-->
                
                <script src="https://igv.org/web/snapshot/dist/igv.min.js"></script>
                  
                  </head>
                  
                  <body>
                  
                  
                  <div id="igv-div" style="padding-top: 10px;padding-bottom: 10px; border:1px solid lightgray"></div>
                    
                    <script type="text/javascript">
                      
                      document.addEventListener("DOMContentLoaded", function () {
                        
                        var igvDiv = document.getElementById("igv-div");
                        var options =
                          {
                            reference: {
                              id: "REF_BUILD_NAME",
                              fastaURL: "FASTA_URL",
                              indexURL: "FAI_URL",
                              wholeGenomeView: false
                            },
                            tracks: [
                              {
                                type: 'alignment',
                                format: 'bam',
                                url: 'BAM_URL',
                                indexURL: 'BAI_URL',
                                samplingDepth: '2000',
                                alignmentRowHeight: 10,
                                colorBy: "strand",
                                name: 'SAMPLE_NAME',
                                showSoftClips: true,
                                filter: {duplicates: false}
                              },
                              {
                                name: "Genes",
                                type: "annotation",
                                format: "gtf",
                                sourceType: "file",
                                url: "TRANSCRIPT_GTF_URL",
                                displayMode: "EXPANDED",
                                name: "REF_BUILD_NAME Genes",
                                searchable: true
                              },
                              {                                     
                                name: "exons",    
                                type: "annotation",
                                format: "bed",    
                                sourceType: "file",
                                url: "BED_URL",
                                displayMode: "EXPANDED",
                                name: "REF_BUILD_NAME Exons",
                                searchable: true  
                              }
                            ]
                          };
                        
                        
                        igv.createBrowser(igvDiv, options)
                        .then(function (browser) {
                          console.log("Created IGV browser");
                        })
                        
                      });
                    
                    </script>
                      
                      </body>
                      
                      </html>
